@model MarkTests
@{
    ViewData["Title"] = "Мои оценки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Мои оценки</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Название теста</th>
                <th>Оценка</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Tests)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Mark</td>
                </tr>
            }

        </tbody>
    </table>
</div>


