<button type="button" class="btn  btn-info" data-toggle="modal" data-target="#helpModal">Помощь</button>

<div id="helpModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Помощь</h4>
            </div>
            <div class="modal-body">
                <p><b>Нажатие правой кнопкой мыши по экрану</b> - добавление новой вершины</p>
                <p><b>Нажатие правой кнопкой мыши по по вершине</b> - выбор вершины</p>
                <p><b>Нажатие по ребру</b> - выбор ребра</p>
                <p><b>Нажатие кнопки Delete</b> удаление выбранного ребра или вершины</p>
                <p><b>Нажатие кнопки R </b> при выбранном ребре добавляет правое ребро</p>
                <p><b>Нажатие кнопки L </b> при выбранном ребре добавляет левое ребро</p>
                <p><b>Нажатие кнопки B </b> при выбранном ребре добавление недостающего направления</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>

    </div>
</div>