


<div id="addQuestionChoiceModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">

                    <label class="control-label"> Вопрос </label>
                    <textarea class="form-control" id="question"></textarea>
                </div>
                <div id="answers" class="container">
                    <div class="checkbox">
                        <lable class="answers">
                            <input type="checkbox" class="check"><input class="answer" type="text" />
                        </lable>
                    </div>
                </div>
                <button id="addAnswer" type="button" class="btn btn-default" data-dismiss="modal">Добавить ответ</button>
                <div class="modal-footer">
                    <button id ="AddAnswerChoice" type="button" class="btn btn-default" data-dismiss="modal" >Добавить вопрос</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>

        </div>
    </div>
</div>

